<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lugaresneiva"
    >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LugaresNeiva"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LugaresNeiva.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"
            android:label="Acerca de..."
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>
        <activity
            android:name=".ViewPlaceActivity"
            android:parentActivityName=".MainActivity"
            android:label="Detalles">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>
        <activity
            android:name=".NewPlaceActivity"
            android:parentActivityName=".MainActivity"
            android:label="Nuevo Lugar" >
        </activity>
        <activity
            android:name=".EditPlaceActivity"
            android:parentActivityName=".MainActivity"
            android:label="Modificar Lugar" >
        </activity>
        <activity
            android:name=".DeleteActivity"
            android:parentActivityName=".MainActivity"
            android:label="Eliminar Lugar"
            android:theme="@style/Theme.AppCompat.Light.Dialog" >
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:parentActivityName=".MainActivity"
            android:label="Preferencias">
        </activity>
        <activity
            android:name=".MapActivity"
            android:parentActivityName=".MainActivity"
            android:label="Mapa en Google Maps" >
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="sena.edu.co.lugaresneiva.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data  android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>